.header {
  /* display: inline-block; */
  display: flex;
  flex-direction: column;
}

.darkday {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.7rem;
}

.toggle {
  padding: 0 0.2rem;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.toggle:hover {
  transform: scale(1.1);
}

.day {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: var(--color-header);
}

.filters {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.4rem;

  background-color: var(--color-accent);
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

.filter {
  position: relative;
  background-color: transparent;
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.6;
  z-index: 0;
  cursor: pointer;
}

.filter:hover,
.filter.selected {
  opacity: 0.8;
}

.filter.selected::after {
  position: absolute;
  display: block;
  bottom: 4px;
  background-color: var(--color-selected);
  width: 100%;
  height: 6px;
  content: "";
  transform: skewX(16deg);
  z-index: -1;
}
