.form {
  display: flex;
  width: 100%;
}

.input {
  flex: 1 0 auto;
  padding: 0.5rem;
  border: none;
  outline: none;
  border-top: 1px solid var(--color-border);
  font-size: 0.8rem;
}

.button {
  cursor: pointer;
  padding: 0.5rem;
  background-color: var(--color-accent);
  border: 1px solid var(--color-border);
  border-right: none;
  border-bottom: none;
  color: var(--color-white);
  font-size: 0.8rem;
  font-weight: bold;
}

.button:hover {
  filter: brightness(110%);
}
